.mainDiv {
    display: grid;
    grid-template-rows: repeat(auto-fit) minmax(min-content, max-content);
    height: 100vh;
    align-items: center;
    grid-template-areas:
        "header"
        "midpoint"
        "footer";
}

.TopNavHeader {
    grid-area: header;
}

#talkjs-container {
    justify-self: end;
    align-items: end;
    grid-area: midpoint;
    margin: auto;
    height: 80vh;
    padding: 4em 10px 0px 10px;
}

.navbar .fixed-bottom .navbar-dark .bg-dark {
    grid-area: footer;
}


