/* Main Div is under grid display  */
.bodyContent{
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

/* Child */
.card{
    display: grid;
    border: 2px coral solid;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* Title change */
.card-title{
    text-align: center;
}

/* To change size of individual cards */
/* .card-body{
    width: 100vh;
} */

.heading{
    text-align: center;
    font-size: 4rem;
    color:#333;
    padding:1rem;
    margin:2rem 0;
    background:rgba(255, 51, 153,.05);
}

.heading span{
    color:var(--lightblue);
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background:#333;
    color:#fff;
    padding:.9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover{
    background:var(--lightblue);
}

@media (max-width:768px){

    .home .content h3{
        font-size: 5rem;
    }

    .home .content span{
        font-size: 2.5rem;
    }

    .icons-container .icons h3{
        font-size: 2rem;
    }
    
    .icons-container .icons span{
        font-size: 1.7rem;
    }
    
}

@media (max-width:450px){
    
    html{
        font-size: 50%;
    }

    .heading{
        font-size: 3rem;
    }

}