.card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 2% auto;
    width: 100%;
    max-width: 1000px;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
    background-color: #fff;

}

img {
    max-width: 30%;
    height: auto;
}