:root {
    --lightblue: #7fcbf1;
    --black: rgba(0, 0, 0);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

section {
    padding: 2rem 9%;
}

.heading {
    text-align: center;
    font-size: 4rem;
    color: #333;
    padding: 1rem;
    margin: 2rem 0;
    background: rgba(255, 51, 153, .05);
}

.heading span {
    color: var(--lightblue);
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background: #333;
    color: #fff;
    padding: .9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover {
    background: var(--lightblue);
}

.home {
    display: flex;
    align-items: center;
    min-height: 50vh;
    background: url(../images/backgornd.jpeg) no-repeat;
    background-size: auto;

    /* this will blur the background*/
    background-color: rgb(131, 131, 131);
    background-blend-mode: screen, overlay;
    background-position: center;
}

.home .content {
    max-width: 50rem;
}

.home .content h3 {
    font-size: 6rem;
    color: rgb(36, 191, 234);
}

.home .content span {
    font-size: 3.5rem;
    color: rgb(69, 69, 69);
    padding: 1rem 0;
    line-height: 1.5;
}

.home .content p {
    font-size: 1.5rem;
    color: #999;
    padding: 1rem 0;
    line-height: 1.5;
}

.about .row {
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem 0;
    padding-bottom: 3rem;
}

.about .row .content {
    flex: 1 1 40rem;
}

.about .row .content h3 {
    font-size: 3rem;
    color: #333;
}

.about .row .content p {
    font-size: 1.5rem;
    color: #999;
    padding: .5rem 0;
    padding-top: 1rem;
    line-height: 1.5;
}

.icons-container {
    background: #eee;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.icons-container .icons {
    background: #fff;
    border: .1rem solid rgba(0, 0, 0, .1);
    padding: 2rem;
    display: flex;
    align-items: center;
    flex: 1 1 25rem;
}

.icons-container .icons img {
    height: 5rem;
    margin-right: 2rem;
}

.icons-container .icons h3 {
    color: #333;
    padding-bottom: .5rem;
    font-size: 1.5rem;
}

.icons-container .icons span {
    color: #555;
    font-size: 1.3rem;
}

.community .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.community .box-container .box {
    flex: 1 1 30rem;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    border-radius: .5rem;
    padding: 3rem 2rem;
    position: relative;
    border: .1rem solid rgba(0, 0, 0, .1);
}

.community .box-container .box .fa-community-right {
    position: absolute;
    bottom: 3rem;
    right: 3rem;
    font-size: 6rem;
    color: #eee;
}

.community .box-container .box p {
    color: #999;
    font-size: 1.5rem;
    line-height: 1.5;
    padding-top: 2rem;
}

.community .box-container .box .user {
    display: flex;
    align-items: center;
    padding-top: 2rem;
}

.community .box-container .box .user img {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1rem;
}

.community .box-container .box .user h3 {
    font-size: 2rem;
    color: #333;
}

.community .box-container .box .user span {
    font-size: 1.5rem;
    color: #999;
}

.community .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.box-container .box {
    flex: 1 1 25rem;
}

.box-container .box h3 {
    color: #333;
    font-size: 2.5rem;
    padding: 1rem 0;
}

.box-container .box a {
    display: block;
    color: #666;
    font-size: 1.5rem;
    padding: 1rem 0;
}

.box-container .box a:hover {
    color: var(--lightblue);
    text-decoration: underline;
}

.box-container .box img {
    margin-top: 1rem;
}

/* media queries  */
@media (max-width:991px) {

    html {
        font-size: 55%;
    }

    section {
        padding: 2rem;
    }

    .home {
        background-position: left;
    }

}

@media (max-width:768px) {

    .home .content h3 {
        font-size: 5rem;
    }

    .home .content span {
        font-size: 2.5rem;
    }

    .icons-container .icons h3 {
        font-size: 2rem;
    }

    .icons-container .icons span {
        font-size: 1.7rem;
    }

}

@media (max-width:450px) {

    html {
        font-size: 50%;
    }

    .heading {
        font-size: 3rem;
    }

}