/* Form styling - baseline grid  */
form {
    display: grid;
    padding: 2em;
    background: #f9f9f9;
    border: 2px solid #8ECAE6;
    margin: 2rem auto 0 auto;
    max-width: 500px;
}
.header{
    text-align: center;
}
/* Flex container for each article*/
.form-row-one{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 1em;
}
/* Input border */
input{
    max-width: 100%;
    border-radius: 5px;
    border: 2px solid #8ECAE6;
}
/* highlights the input field. */
input:focus {
    outline: 2px solid #FFB703;
}
/* Hover color on submit button input.*/
form .submit-btn:hover {
background: #FFB703;
}

