:root {
    --lightblue: #7fcbf1;
    --black: rgba(0, 0, 0);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
}

.nav-btn {
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background: #333;
    color: var(--lightblue);
    padding: .9rem 2rem;
    cursor: pointer;
    font-size: 1.7rem;
}

/* overall button changes */
a, button .btn-lg{
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    color: #FB8500
    
}

.btn-group-lg>.btn, .btn-lg{
    color: #FB8500;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

.bg-dark{
    color: #FB8500;
}

main {
    padding-top: 85px;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

.TopNavHeader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

.TopNavHeader .logo {
    font-size: 3rem;
    color: #333;
    font-weight: bolder;
}

.TopNavHeader .logo span {
    color: var(--lightblue);
}

.TopNavHeader .navbar a {
    font-size: 2rem;
    padding: 0 1.5rem;
    color: #666;
}

.TopNavHeader .navbar a:hover {
    color: var(--lightblue);
}

.TopNavHeader .icons a {
    font-size: 2.5rem;
    color: #333;
    margin-left: 1.5rem;
}

.TopNavHeader .icons a:hover {
    color: var(--lightblue);
}

.TopNavHeader #toggler {
    display: none;
}

.TopNavHeader .fa-bars {
    font-size: 3rem;
    color: #333;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    border: .1rem solid rgba(0, 0, 0, .3);
    display: none;
}

.credit {
    flex: 1 1 25rem;
}

.credit {
    color: #333;
    font-size: 2.5rem;
    padding: 1rem 0;
}

.credit {
    display: block;
    color: #666;
    font-size: 1.5rem;
    padding: 1rem 0;
}

.credit {
    color: var(--lightblue);
    text-decoration: underline;
}

.credit {
    margin-top: 1rem;
}

.credit {
    text-align: center;
    padding: 1.5rem;
    margin-top: 1.5rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color: #333;
    border-top: .1rem solid rgba(0, 0, 0, .1);
    padding-bottom: 9rem;
}

.credit span {
    color: var(--lightblue);
}

@media (max-width:991px) {

    header {
        padding: 2rem;
    }

    html {
        font-size: 50%;
    }

}

@media (max-width:768px) {

    html {
        font-size: 50%;
    }

    .TopNavHeader .fa-bars {
        display: block;
    }

    .TopNavHeader .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: rgb(255, 255, 255);
        border-top: .1rem solid rgba(0, 0, 0, .1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .TopNavHeader #toggler:checked~.navbar {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    .TopNavHeader .navbar a {
        margin: 0.5rem;
        padding: 0.5rem;
        background: rgb(239, 239, 239);
        border: .1rem solid rgba(0, 0, 0, .1);
        box-shadow: 1px 1px 1px 1px #888888;
        display: block;
    }

    .icons-container .icons h3 {
        font-size: 2rem;
    }

    .icons-container .icons span {
        font-size: 1.7rem;
    }

}