/* Main Div is under grid display  */
.bodyContentForSubCommunity{
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

/* Child */
.card{
    border: 2px coral solid;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* Title change */
.card-title{
    text-align: center;
}

.card-img-bottom{
    flex-basis: 100%;
    max-width: 100%;
}

/* To change size of individual cards */
/* .card-body{
    width: 100vh;
} */
